# Backend Environment Variables
SECRET_KEY=django-insecure-pm*#z)o72bg#8$&7=!cp6rv=0+6-pdnmx7q2)iscgo4#dh=lf!
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,*
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Zarinpal Gateway
ZARINPAL_MERCHANT_ID=c8d2f8b6-07c1-496c-9f4c-f8e8afae1955
ZARINPAL_REQUEST_URL=https://sandbox.zarinpal.com/pg/v4/payment/request.json
ZARINPAL_STARTPAY_URL=https://sandbox.zarinpal.com/pg/StartPay/
ZARINPAL_VERIFY_URL=https://sandbox.zarinpal.com/pg/v4/payment/verify.json
ZARINPAL_CALLBACK_URL=http://localhost:3000/settings?payment=callback
